YANDEX_WEATHER_API_KEY=your_api_key_here
YANDEX_WEATHER_API_ENDPOINT=https://api.weather.yandex.ru/v2/forecast
YANDEX_WEATHER_LANG=ru_RU
YANDEX_WEATHER_REFRESH_MS=3600000
WEATHER_LAT=55.752023
WEATHER_LON=37.617499
