__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
*.log
logs/
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.pdm-python
.pdm-build/
.pixi/*
!.pixi/config.toml
__pypackages__/
celerybeat-schedule*
celerybeat.pid
*.rdb
*.aof
*.pid
mnesia/
rabbitmq/
rabbitmq-data/
activemq-data/
*.sage.py

.env
.env.*
!.env.example
.envrc
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/
.vs/
.DS_Store
*.sw?
*.suo
*.sln
*.user
*.rsuser
*.pdb
*.dbg
*.code-workspace

node_modules/

bin/
obj/
publish/
windows-agent/.env
windows-agent/.env.*
!windows-agent/.env.example
windows-agent/bin/
windows-agent/obj/
windows-agent/publish/